###########################################################
# REFERRAL SPAM BLOCK                                     #
# https://github.com/kokokokokokoko/Referral-Spam-Block/  #
# Please add to, and submit pull requests!                #
###########################################################
Options +FollowSymlinks
RewriteEngine On
php_flag register_globals off

# Useage example (thanks to Tom Raftery's .htaccess file):
# There was a lot of comment spam with the User Agents Crazy Browser 1.x.x and Mozilla/3.0 (compatible; Indy Library)
# so I am using the following code to block it. Note that I removed the starting "^", so that it will ban
# any user-agent with "Indy Library" or "TrackBack" anywhere in its user-agent string, and that it will
# accept any character - including a space - after "Indy" or TrackBack.

## EXAMPLE
RewriteCond %{HTTP_USER_AGENT} Indy.Library [NC,OR]
RewriteCond %{HTTP_USER_AGENT} TrackBack [NC,OR]
RewriteCond %{HTTP_USER_AGENT} "^Crazy Browser" [NC,OR]
## USER AGENTS
#RewriteCond %{HTTP_USER_AGENT} ^$ [NC,OR] # Use this line at your own risk. Posting to Tumblr etc will be disabled.
RewriteCond %{HTTP_USER_AGENT} "^AESOP_com_SpiderMan" [NC,OR]
RewriteCond %{HTTP_USER_AGENT} "^Alexibot" [NC,OR]
RewriteCond %{HTTP_USER_AGENT} "Anonymouse.org" [NC,OR]
RewriteCond %{HTTP_USER_AGENT} "^asterias" [NC,OR]
RewriteCond %{HTTP_USER_AGENT} "^attach" [NC,OR]
RewriteCond %{HTTP_USER_AGENT} "^BackDoorBot" [NC,OR]
RewriteCond %{HTTP_USER_AGENT} "^BackWeb" [NC,OR]
RewriteCond %{HTTP_USER_AGENT} "Bandit" [NC,OR]
RewriteCond %{HTTP_USER_AGENT} "^Baiduspider" [NC,OR]
RewriteCond %{HTTP_USER_AGENT} "^BatchFTP" [NC,OR]
RewriteCond %{HTTP_USER_AGENT} "^Bigfoot" [NC,OR]
RewriteCond %{HTTP_USER_AGENT} "^Black.Hole" [NC,OR]
RewriteCond %{HTTP_USER_AGENT} "^BlackWidow" [NC,OR]
RewriteCond %{HTTP_USER_AGENT} "^BlowFish" [NC,OR]
RewriteCond %{HTTP_USER_AGENT} "^Bot mailto:craftbot@yahoo.com" [NC,OR]
RewriteCond %{HTTP_USER_AGENT} "^BotALot" [NC,OR]
RewriteCond %{HTTP_USER_AGENT} "Buddy" [NC,OR]
RewriteCond %{HTTP_USER_AGENT} "^BuiltBotTough" [NC,OR]
RewriteCond %{HTTP_USER_AGENT} "^Bullseye" [NC,OR]
RewriteCond %{HTTP_USER_AGENT} "^BunnySlippers" [NC,OR]
RewriteCond %{HTTP_USER_AGENT} "^Cegbfeieh" [NC,OR]
RewriteCond %{HTTP_USER_AGENT} "^CheeseBot" [NC,OR]
RewriteCond %{HTTP_USER_AGENT} "^CherryPicker" [NC,OR]
RewriteCond %{HTTP_USER_AGENT} "^ChinaClaw" [NC,OR]
RewriteCond %{HTTP_USER_AGENT} "Collector" [NC,OR]
RewriteCond %{HTTP_USER_AGENT} "Copier" [NC,OR]
RewriteCond %{HTTP_USER_AGENT} "^CopyRightCheck" [NC,OR]
RewriteCond %{HTTP_USER_AGENT} "^cosmos" [NC,OR]
RewriteCond %{HTTP_USER_AGENT} "^Crescent" [NC,OR]
RewriteCond %{HTTP_USER_AGENT} "^Curl" [NC,OR]
RewriteCond %{HTTP_USER_AGENT} "^Custo" [NC,OR]
RewriteCond %{HTTP_USER_AGENT} "^DA" [NC,OR]
RewriteCond %{HTTP_USER_AGENT} "^DISCo" [NC,OR]
RewriteCond %{HTTP_USER_AGENT} "^DIIbot" [NC,OR]
RewriteCond %{HTTP_USER_AGENT} "^DittoSpyder" [NC,OR]
RewriteCond %{HTTP_USER_AGENT} "^Download" [NC,OR]
RewriteCond %{HTTP_USER_AGENT} "^Download Demon" [NC,OR]
RewriteCond %{HTTP_USER_AGENT} "^Download Devil" [NC,OR]
RewriteCond %{HTTP_USER_AGENT} "^Download Wonder" [NC,OR]
RewriteCond %{HTTP_USER_AGENT} "Downloader" [NC,OR]
RewriteCond %{HTTP_USER_AGENT} "^dragonfly" [NC,OR]
RewriteCond %{HTTP_USER_AGENT} "^Drip" [NC,OR]
RewriteCond %{HTTP_USER_AGENT} "^eCatch" [NC,OR]
RewriteCond %{HTTP_USER_AGENT} "^EasyDL" [NC,OR]
RewriteCond %{HTTP_USER_AGENT} "^ebingbong" [NC,OR]
RewriteCond %{HTTP_USER_AGENT} "^EirGrabber" [NC,OR]
RewriteCond %{HTTP_USER_AGENT} "^EmailCollector" [NC,OR]
RewriteCond %{HTTP_USER_AGENT} "^EmailSiphon" [NC,OR]
RewriteCond %{HTTP_USER_AGENT} "^EmailWolf" [NC,OR]
RewriteCond %{HTTP_USER_AGENT} "^EroCrawler" [NC,OR]
RewriteCond %{HTTP_USER_AGENT} "^Exabot" [NC,OR]
RewriteCond %{HTTP_USER_AGENT} "^Express WebPictures" [NC,OR]
RewriteCond %{HTTP_USER_AGENT} "Extractor" [NC,OR]
RewriteCond %{HTTP_USER_AGENT} "^EyeNetIE" [NC,OR]
RewriteCond %{HTTP_USER_AGENT} "^FileHound" [NC,OR]
RewriteCond %{HTTP_USER_AGENT} "^FlashGet" [NC,OR]
RewriteCond %{HTTP_USER_AGENT} "^Foobot" [NC,OR]
RewriteCond %{HTTP_USER_AGENT} "^flunky" [NC,OR]
RewriteCond %{HTTP_USER_AGENT} "^FrontPage" [NC,OR]
RewriteCond %{HTTP_USER_AGENT} "^GetRight" [NC,OR]
RewriteCond %{HTTP_USER_AGENT} "^GetSmart" [NC,OR]
RewriteCond %{HTTP_USER_AGENT} "^GetWeb!" [NC,OR]
RewriteCond %{HTTP_USER_AGENT} "^Go!Zilla" [NC,OR]
RewriteCond %{HTTP_USER_AGENT} "^Go-Ahead-Got-It" [NC,OR]
RewriteCond %{HTTP_USER_AGENT} "^gotit" [NC,OR]
RewriteCond %{HTTP_USER_AGENT} "Grabber" [NC,OR]
RewriteCond %{HTTP_USER_AGENT} "^GrabNet" [NC,OR]
RewriteCond %{HTTP_USER_AGENT} "^Grafula" [NC,OR]
RewriteCond %{HTTP_USER_AGENT} "^Harvest" [NC,OR]
RewriteCond %{HTTP_USER_AGENT} "^hloader" [NC,OR]
RewriteCond %{HTTP_USER_AGENT} "^HMView" [NC,OR]
RewriteCond %{HTTP_USER_AGENT} "^httplib" [NC,OR]
RewriteCond %{HTTP_USER_AGENT} "^HTTrack" [NC,OR]
RewriteCond %{HTTP_USER_AGENT} "^humanlinks" [NC,OR]
RewriteCond %{HTTP_USER_AGENT} "^ia_archiver" [NC,OR]
RewriteCond %{HTTP_USER_AGENT} "^IlseBot" [NC,OR]
RewriteCond %{HTTP_USER_AGENT} "^Image Stripper" [NC,OR]
RewriteCond %{HTTP_USER_AGENT} "^Image Sucker" [NC,OR]
RewriteCond %{HTTP_USER_AGENT} "Indy Library" [NC,OR]
RewriteCond %{HTTP_USER_AGENT} "^InfoNaviRobot" [NC,OR]
RewriteCond %{HTTP_USER_AGENT} "^InfoTekies" [NC,OR]
RewriteCond %{HTTP_USER_AGENT} "^Intelliseek" [NC,OR]
RewriteCond %{HTTP_USER_AGENT} "^InterGET" [NC,OR]
RewriteCond %{HTTP_USER_AGENT} "^Internet Ninja" [NC,OR]
RewriteCond %{HTTP_USER_AGENT} "^Iria" [NC,OR]
RewriteCond %{HTTP_USER_AGENT} "^Jakarta" [NC,OR]
RewriteCond %{HTTP_USER_AGENT} "^JennyBot" [NC,OR]
RewriteCond %{HTTP_USER_AGENT} "^JetCar" [NC,OR]
RewriteCond %{HTTP_USER_AGENT} "^JOC" [NC,OR]
RewriteCond %{HTTP_USER_AGENT} "^JustView" [NC,OR]
RewriteCond %{HTTP_USER_AGENT} "^Jyxobot" [NC,OR]
RewriteCond %{HTTP_USER_AGENT} "^Kenjin.Spider" [NC,OR]
RewriteCond %{HTTP_USER_AGENT} "^Keyword.Density" [NC,OR]
RewriteCond %{HTTP_USER_AGENT} "^larbin" [NC,OR]
RewriteCond %{HTTP_USER_AGENT} "^LeechFTP" [NC,OR]
RewriteCond %{HTTP_USER_AGENT} "^LexiBot" [NC,OR]
RewriteCond %{HTTP_USER_AGENT} "^lftp" [NC,OR]
RewriteCond %{HTTP_USER_AGENT} "^libWeb/clsHTTP" [NC,OR]
RewriteCond %{HTTP_USER_AGENT} "^likse" [NC,OR]
RewriteCond %{HTTP_USER_AGENT} "^LinkextractorPro" [NC,OR]
RewriteCond %{HTTP_USER_AGENT} "^LinkScan/8.1a.Unix" [NC,OR]
RewriteCond %{HTTP_USER_AGENT} "^LNSpiderguy" [NC,OR]
RewriteCond %{HTTP_USER_AGENT} "^LinkWalker" [NC,OR]
RewriteCond %{HTTP_USER_AGENT} "^lwp-trivial" [NC,OR]
RewriteCond %{HTTP_USER_AGENT} "^LWP::Simple" [NC,OR]
RewriteCond %{HTTP_USER_AGENT} "^Magnet" [NC,OR]
RewriteCond %{HTTP_USER_AGENT} "^Mag-Net" [NC,OR]
RewriteCond %{HTTP_USER_AGENT} "^MarkWatch" [NC,OR]
RewriteCond %{HTTP_USER_AGENT} "^Mass Downloader" [NC,OR]
RewriteCond %{HTTP_USER_AGENT} "^Mata.Hari" [NC,OR]
RewriteCond %{HTTP_USER_AGENT} "^Memo" [NC,OR]
RewriteCond %{HTTP_USER_AGENT} "^Microsoft.URL" [NC,OR]
RewriteCond %{HTTP_USER_AGENT} "^Microsoft URL Control" [NC,OR]
RewriteCond %{HTTP_USER_AGENT} "^MIDown tool" [NC,OR]
RewriteCond %{HTTP_USER_AGENT} "^MIIxpc" [NC,OR]
RewriteCond %{HTTP_USER_AGENT} "^Mirror" [NC,OR]
RewriteCond %{HTTP_USER_AGENT} "^Missigua Locator" [NC,OR]
RewriteCond %{HTTP_USER_AGENT} "^Mister PiX" [NC,OR]
RewriteCond %{HTTP_USER_AGENT} "^moget" [NC,OR]
RewriteCond %{HTTP_USER_AGENT} "^Mozilla/3.Mozilla/2.01" [NC,OR]
RewriteCond %{HTTP_USER_AGENT} "^Mozilla.*NEWT" [NC,OR]
RewriteCond %{HTTP_USER_AGENT} "^NAMEPROTECT" [NC,OR]
RewriteCond %{HTTP_USER_AGENT} "^Navroad" [NC,OR]
RewriteCond %{HTTP_USER_AGENT} "^NearSite" [NC,OR]
RewriteCond %{HTTP_USER_AGENT} "^NetAnts" [NC,OR]
RewriteCond %{HTTP_USER_AGENT} "^Netcraft" [NC,OR]
RewriteCond %{HTTP_USER_AGENT} "^NetMechanic" [NC,OR]
RewriteCond %{HTTP_USER_AGENT} "^NetSpider" [NC,OR]
RewriteCond %{HTTP_USER_AGENT} "^Net Vampire" [NC,OR]
RewriteCond %{HTTP_USER_AGENT} "^NetZIP" [NC,OR]
RewriteCond %{HTTP_USER_AGENT} "^NextGenSearchBot" [NC,OR]
RewriteCond %{HTTP_USER_AGENT} "^NG" [NC,OR]
RewriteCond %{HTTP_USER_AGENT} "^NICErsPRO" [NC,OR]
RewriteCond %{HTTP_USER_AGENT} "^NimbleCrawler" [NC,OR]
RewriteCond %{HTTP_USER_AGENT} "^Ninja" [NC,OR]
RewriteCond %{HTTP_USER_AGENT} "^NPbot" [NC,OR]
RewriteCond %{HTTP_USER_AGENT} "^Octopus" [NC,OR]
RewriteCond %{HTTP_USER_AGENT} "^Offline Explorer" [NC,OR]
RewriteCond %{HTTP_USER_AGENT} "^Offline Navigator" [NC,OR]
RewriteCond %{HTTP_USER_AGENT} "^Openfind" [NC,OR]
RewriteCond %{HTTP_USER_AGENT} "^OutfoxBot" [NC,OR]
RewriteCond %{HTTP_USER_AGENT} "^PageGrabber" [NC,OR]
RewriteCond %{HTTP_USER_AGENT} "^Papa Foto" [NC,OR]
RewriteCond %{HTTP_USER_AGENT} "^pavuk" [NC,OR]
RewriteCond %{HTTP_USER_AGENT} "^pcBrowser" [NC,OR]
RewriteCond %{HTTP_USER_AGENT} "^PHP version tracker" [NC,OR]
RewriteCond %{HTTP_USER_AGENT} "^Pockey" [NC,OR]
RewriteCond %{HTTP_USER_AGENT} "^ProPowerBot/2.14" [NC,OR]
RewriteCond %{HTTP_USER_AGENT} "^ProWebWalker" [NC,OR]
RewriteCond %{HTTP_USER_AGENT} "^psbot" [NC,OR]
RewriteCond %{HTTP_USER_AGENT} "^Pump" [NC,OR]
RewriteCond %{HTTP_USER_AGENT} "^QueryN.Metasearch" [NC,OR]
RewriteCond %{HTTP_USER_AGENT} "^RealDownload" [NC,OR]
RewriteCond %{HTTP_USER_AGENT} "Reaper" [NC,OR]
RewriteCond %{HTTP_USER_AGENT} "Recorder" [NC,OR]
RewriteCond %{HTTP_USER_AGENT} "^ReGet" [NC,OR]
RewriteCond %{HTTP_USER_AGENT} "^RepoMonkey" [NC,OR]
RewriteCond %{HTTP_USER_AGENT} "^RMA" [NC,OR]
RewriteCond %{HTTP_USER_AGENT} "Siphon" [NC,OR]
RewriteCond %{HTTP_USER_AGENT} "sitecheck.internetseer.com" [NC,OR]
RewriteCond %{HTTP_USER_AGENT} "^SiteSnagger" [NC,OR]
RewriteCond %{HTTP_USER_AGENT} "^SlySearch" [NC,OR]
RewriteCond %{HTTP_USER_AGENT} "^SmartDownload" [NC,OR]
RewriteCond %{HTTP_USER_AGENT} "^Snake" [NC,OR]
RewriteCond %{HTTP_USER_AGENT} "^Snapbot" [NC,OR]
RewriteCond %{HTTP_USER_AGENT} "^Snoopy" [NC,OR]
RewriteCond %{HTTP_USER_AGENT} "^sogou" [NC,OR]
RewriteCond %{HTTP_USER_AGENT} "^SpaceBison" [NC,OR]
RewriteCond %{HTTP_USER_AGENT} "^SpankBot" [NC,OR]
RewriteCond %{HTTP_USER_AGENT} "^spanner" [NC,OR]
RewriteCond %{HTTP_USER_AGENT} "^Sqworm" [NC,OR]
RewriteCond %{HTTP_USER_AGENT} "Stripper" [NC,OR]
RewriteCond %{HTTP_USER_AGENT} "Sucker" [NC,OR]
RewriteCond %{HTTP_USER_AGENT} "^SuperBot" [NC,OR]
RewriteCond %{HTTP_USER_AGENT} "^SuperHTTP" [NC,OR]
RewriteCond %{HTTP_USER_AGENT} "^Surfbot" [NC,OR]
RewriteCond %{HTTP_USER_AGENT} "^suzuran" [NC,OR]
RewriteCond %{HTTP_USER_AGENT} "^Szukacz/1.4" [NC,OR]
RewriteCond %{HTTP_USER_AGENT} "^tAkeOut" [NC,OR]
RewriteCond %{HTTP_USER_AGENT} "^Teleport" [NC,OR]
RewriteCond %{HTTP_USER_AGENT} "^Telesoft" [NC,OR]
RewriteCond %{HTTP_USER_AGENT} "^TurnitinBot/1.5" [NC,OR]
RewriteCond %{HTTP_USER_AGENT} "^The.Intraformant" [NC,OR]
RewriteCond %{HTTP_USER_AGENT} "^TheNomad" [NC,OR]
RewriteCond %{HTTP_USER_AGENT} "^TightTwatBot" [NC,OR]
RewriteCond %{HTTP_USER_AGENT} "^Titan" [NC,OR]
RewriteCond %{HTTP_USER_AGENT} "^toCrawl/UrlDispatcher" [NC,OR]
RewriteCond %{HTTP_USER_AGENT} "^True_Robot" [NC,OR]
RewriteCond %{HTTP_USER_AGENT} "^turingos" [NC,OR]
RewriteCond %{HTTP_USER_AGENT} "^TurnitinBot" [NC,OR]
RewriteCond %{HTTP_USER_AGENT} "^URLy.Warning" [NC,OR]
RewriteCond %{HTTP_USER_AGENT} "^Vacuum" [NC,OR]
RewriteCond %{HTTP_USER_AGENT} "^VCI" [NC,OR]
RewriteCond %{HTTP_USER_AGENT} "^VoidEYE" [NC,OR]
RewriteCond %{HTTP_USER_AGENT} "^Wget" [NC,OR]
RewriteCond %{HTTP_USER_AGENT} "Whacker" [NC,OR]
RewriteCond %{HTTP_USER_AGENT} "^Widow" [NC,OR]
RewriteCond %{HTTP_USER_AGENT} "^WISENutbot" [NC,OR]
RewriteCond %{HTTP_USER_AGENT} "^WWWOFFLE" [NC,OR]
RewriteCond %{HTTP_USER_AGENT} "^WWW-Collector-E" [NC,OR]
RewriteCond %{HTTP_USER_AGENT} "^Xaldon" [NC,OR]
RewriteCond %{HTTP_USER_AGENT} "^Xenu" [NC,OR]
RewriteCond %{HTTP_USER_AGENT} "^Zeus" [NC,OR]
RewriteCond %{HTTP_USER_AGENT} "^Zyborg" [NC,OR]
## REFERERS
RewriteCond %{HTTP_REFERER} yelucie [NC,OR]
RewriteCond %{HTTP_REFERER} crescentarian [NC,OR]
RewriteCond %{HTTP_REFERER} andrewsaluk [NC,OR]
RewriteCond %{HTTP_REFERER} tigerspice [NC,OR]
RewriteCond %{HTTP_REFERER} doobu [NC,OR]
RewriteCond %{HTTP_REFERER} camfun24 [NC,OR]
RewriteCond %{HTTP_REFERER} latinonakedgirl [NC,OR]
RewriteCond %{HTTP_REFERER} ronnieazza [NC,OR]
RewriteCond %{HTTP_REFERER} highprofitclub [NC,OR]
RewriteCond %{HTTP_REFERER} dvdsqueeze [NC,OR]
RewriteCond %{HTTP_REFERER} sexsearchcom [NC,OR]
RewriteCond %{HTTP_REFERER} 6q.org [NC,OR]
RewriteCond %{HTTP_REFERER} d4f.de [NC,OR]
RewriteCond %{HTTP_REFERER} adultactioncam [NC,OR]
RewriteCond %{HTTP_REFERER} seventwentyfour [NC,OR]
RewriteCond %{HTTP_REFERER} genaholincorporated [NC,OR]
RewriteCond %{HTTP_REFERER} firsthorizonmtg [NC,OR]
RewriteCond %{HTTP_REFERER} personalsites [NC,OR]
RewriteCond %{HTTP_REFERER} bukakke-bukake-bukkake-bukkakke [NC,OR]
RewriteCond %{HTTP_REFERER} camgirlslive [NC,OR]
RewriteCond %{HTTP_REFERER} dvd-copy [NC,OR]
RewriteCond %{HTTP_REFERER} shaffelrecords [NC,OR]
RewriteCond %{HTTP_REFERER} mcr8 [NC,OR]
RewriteCond %{HTTP_REFERER} dating.blogs [NC,OR]
RewriteCond %{HTTP_REFERER} online-casino-pops [NC,OR]
RewriteCond %{HTTP_REFERER} 8thstreetlatinas [NC,OR]
RewriteCond %{HTTP_REFERER} boysfirsttime [NC,OR]
RewriteCond %{HTTP_REFERER} gofordgo [NC,OR]
RewriteCond %{HTTP_REFERER} buy-hgh-human-growth-hormone [NC,OR]
RewriteCond %{HTTP_REFERER} semalt [NC,OR]
RewriteCond %{HTTP_REFERER} poker [NC,OR]
RewriteCond %{HTTP_REFERER} buttons-for-website [NC,OR]
RewriteCond %{HTTP_REFERER} simple-share-buttons [NC,OR]
RewriteCond %{HTTP_REFERER} 4webmasters.org [NC,OR]
RewriteCond %{HTTP_REFERER} anticrawler.org [NC,OR]
RewriteCond %{HTTP_REFERER} bestwebsitesawards [NC,OR]
RewriteCond %{HTTP_REFERER} blackhatworth [NC,OR]
RewriteCond %{HTTP_REFERER} buttons-for-website [NC,OR]
RewriteCond %{HTTP_REFERER} buttons-for-your-website [NC,OR]
RewriteCond %{HTTP_REFERER} buy-cheap-online [NC,OR]
RewriteCond %{HTTP_REFERER} econom.co [NC,OR]
RewriteCond %{HTTP_REFERER} darodar [NC,OR]
RewriteCond %{HTTP_REFERER} hulfingtonpost [NC,OR]
RewriteCond %{HTTP_REFERER} Get-Free-Traffic-Now [NC,OR]
RewriteCond %{HTTP_REFERER} googlsucks [NC,OR]
RewriteCond %{HTTP_REFERER} free-share-buttons [NC,OR]
RewriteCond %{HTTP_REFERER} humanorightswatch.org [NC,OR]
RewriteCond %{HTTP_REFERER} ilovevitaly [NC,OR]
RewriteCond %{HTTP_REFERER} 7makemoneyonline [NC,OR]
RewriteCond %{HTTP_REFERER} priceg [NC,OR]
RewriteCond %{HTTP_REFERER} social-buttons [NC,OR]
RewriteCond %{HTTP_REFERER} semalt [NC,OR]
RewriteCond %{HTTP_REFERER} smailik.org [NC,OR]
RewriteCond %{HTTP_REFERER} theguardlan [NC,OR]
RewriteCond %{HTTP_REFERER} simple-share-buttons [NC,OR]
RewriteCond %{HTTP_REFERER} 100dollars-seo [NC,OR]
RewriteCond %{HTTP_REFERER} dbutton.net [NC,OR]
RewriteCond %{HTTP_REFERER} success-seo [NC,OR]
RewriteCond %{HTTP_REFERER} videos-for-your-business [NC,OR]
RewriteCond %{HTTP_REFERER} qualitymarketzone [NC,OR]
RewriteCond %{HTTP_REFERER} event-tracking [NC,OR]
RewriteCond %{HTTP_REFERER} hongfanji [NC,OR]
RewriteCond %{HTTP_REFERER} traffic2money [NC,OR]
RewriteCond %{HTTP_REFERER} seo-platform [NC,OR]
RewriteCond %{HTTP_REFERER} success-seo [NC,OR]
RewriteCond %{HTTP_REFERER} video--production [NC,OR]
RewriteCond %{HTTP_REFERER} sexyali [NC,OR]
RewriteCond %{HTTP_REFERER} darodar [NC,OR]
RewriteCond %{HTTP_REFERER} e-buyeasy [NC,OR]
RewriteCond %{HTTP_REFERER} buy-cheap-online [NC,OR]
RewriteCond %{HTTP_REFERER} erot.co [NC,OR]
RewriteCond %{HTTP_REFERER} how-to-earn-quick-money [NC,OR]
RewriteCond %{HTTP_REFERER} theguardlan [NC,OR]
RewriteCond %{HTTP_REFERER} guardlink.org [NC,OR]
RewriteCond %{HTTP_REFERER} hulfingtonpost [NC,OR]
RewriteCond %{HTTP_REFERER} webmaster-traffic [NC,OR]
RewriteCond %{HTTP_REFERER} domination.ml [NC,OR]
RewriteCond %{HTTP_REFERER} webmaster-traffic [NC,OR]
RewriteCond %{HTTP_REFERER} webmaster-traffic [NC,OR]
RewriteCond %{HTTP_REFERER} floating-share [NC,OR]
RewriteCond %{HTTP_REFERER} ^forum [NC,OR]
RewriteCond %{HTTP_REFERER} rednise [NC,OR]
RewriteCond %{HTTP_REFERER} work-from-home-earn-money-online.com [NC,OR]
RewriteCond %{HTTP_REFERER} free-floating [NC,OR]
RewriteCond %{HTTP_REFERER} free-social [NC,OR]
RewriteCond %{HTTP_REFERER} free-floating-buttons.com [NC,OR]
RewriteCond %{HTTP_REFERER} rankings-analytics.com [NC,OR]
RewriteCond %{HTTP_REFERER} best-seo-software.xyz [NC,OR]
RewriteCond %{HTTP_REFERER} get-free-social-traffic.com [NC,OR]
RewriteCond %{HTTP_REFERER} traffic2money.com [NC,OR]
# Spam IP's
RewriteCond %{REMOTE_ADDR} ^12.163.72.13$ [OR]
RewriteCond %{REMOTE_ADDR} ^98.126.112.90$
# The redirect
RewriteRule ^(.*)$ http://pastebin.com/raw.php?i=aZByQFvc [R=302,L]
###############################
##  END REFERRAL SPAM BLOCK  ##
###############################
